/* #FFF8F2, #1F242A */

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #FFF8F2;
  color: #1F242A;
}

a{
  text-decoration: none;
  color: #1F242A;
  font-weight: 800;
}

input {
  border: 2px solid #1F242A;
  border-radius: 8px;
  margin: 0.5em 0;
  background-color: transparent;
}

button {
  border-radius: 8px;
  border: 2px solid #1F242A;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: #1F242A;
  font-family: inherit;
  background-color: transparent;
  ;
}
